@media only screen and (min-width: 900px){

  main, aside {
  	max-width: 75%;
  	margin-left: auto;
  	margin-right: auto;	
  }
/*  article { 
    transition: all .2s ease-in-out; 
  }
  article:hover { 
    transform: scale(1.02);
  }*/
}

/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {

  article {
    padding: 3em;
    height: 400px;
    display: grid;
    grid-template-columns: 48% 48%;

    grid-template-areas: 
    ". prev" 
    "intro prev"
    ". prev"
   }
  .intro {
    grid-area: intro;
    }
  .preview {
    grid-area: prev;
    }

  article div {
    margin: 0;
  }

  article picture {
    height: auto;
    width: auto;
  }
}

/************XL**************/
@media only screen and (min-width: 1500px) {
   main, aside {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto; 
  }
  article {
    padding: 3em;
    height: 400px;
    display: grid;
    grid-template-columns: 45% 45%; 
}

@media only screen and (min-width: 2300px) {
   main, aside {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto; 
  }
  article {
    padding: 3em;
    height: 450px;
    display: grid;
    grid-template-columns: 45% 45%; 
}