/* TABLET */
@media only screen and (min-width: 560px){
  article img {
    width: 70%;
  }
}

@media only screen and (min-width: 610px){
  article img {
    width: 60%;
  }
}

@media only screen and (min-width: 700px){
  article {
    flex-direction: row;
    align-items: center;
  }
  article img {
    width: 60%;
  }
}
/* TABLET */