@media only screen and (min-width: 900px){
  article img {
    width: 60%;
  }
  main, aside {
  	max-width: 75%;
  	margin-left: auto;
  	margin-right: auto;	
  }
}

/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {
  article {
    height: 32§0px;
  }
  article img {
    width: 40%;
  }
}

/************XL**************/
@media only screen and (min-width: 1200px) {

}