/* Tablet */

@media only screen and (min-width: 560px){
  header {
    padding: 0.4em 1em;
  }
  article img {
    width: 70%;
  }
  #logo {
    width: 65%;
    height: 65%;
  }
}

@media only screen and (min-width: 610px){
  #logo {
    width: 60%;
    height: 60%;
  }
  article img {
    width: 60%;
  }
}

@media only screen and (min-width: 700px){
  #logo {
    width: 55%;
    height: 55%;
  }
  article {
    flex-direction: row;
    align-items: center;
  }
  article img {
    width: 60%;
  }
}

/* Tablet */