
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;

  grid-template-areas: 
        "title title"
        "menu  menu"
        "main  main"
        "news  news"
        "blog  blog"
        "foot  foot"; 
}

.header{
  grid-area: title;
} 

.main{
  grid-area: main;
}

#menu {
  grid-area: menu;
}

.news {
  grid-area: news;
}
.blog {
  grid-area: blog;
}

.foot {
  grid-area: foot;
}

header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.menutoggle {
  margin-left: auto;
}

.menutoggle a {
  font-size: 2em;
  color: #424B54;
  text-decoration: none;
}

.active {
/*  display: initial;*/
  max-height: 300px;
  transition: max-height 0.5s;
}

.inactive {
 /* display: none;*/
  max-height: 0px;
  transition: max-height 0.5s;
}

/*
  Nav styles
*/

nav {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  padding: 0.4em;
  margin: 0.4em;
  list-style: none;
  justify-content: center;
  border-radius: 0.4em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/************Mid**************/
@media only screen and (min-width: 601px){
  body {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-template-areas: 
          ". title title title title ."
          ". menu  menu  menu  menu ."
          ". main  main  main  main ."
          ". news  news  news  news ."
          ". blog  blog  blog  blog ."
          ". foot  foot  foot  foot ."; 
  }
  nav ul li {
    padding: 0.5em;
  }

  nav ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    flex-grow: 1;
  }

  .menutoggle {
    display: none;
  }

  .active, .inactive {
    max-height: initial;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 
          "h1 h1 h1 h1"
          "p p foto foto"
          "p p foto foto"
          "p p foto foto"; 
  }
  main img {
    grid-area: foto;
  } 
  main h1 {
    grid-area: h1;
  }
  main p {
    grid-area: p;
  }
  .news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4.5% 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-areas: 
        "h1 h1 h1 h1"
        "p p list list"
        "p p list list"
        "p p more more"; 
  }
  aside ul {
    grid-area: list;
  } 
  aside h1 {
    grid-area: h1;
  }
  aside p {
    grid-area: p;
  }
  aside a {
    grid-area: more; 
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
}
/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
    grid-column-gap: 10px;
    grid-template-areas: 
          ". title title title title ."
          ". menu  menu  menu  menu ."
          ". main  main  main  main ."
          ". news  news  blog  blog ."
          ". .  .  blog  blog ."
          ". foot  foot  foot  foot ."; 
  }
  .news {
    display: initial;
  }

  .content {
    display: initial;
  }
}

/*********End Large***********/

/************XL**************/
@media only screen and (min-width: 1824px) {
    body {
      display: grid;
      grid-template-columns: 18% 2fr 1fr 1fr 1fr 18%;
      grid-column-gap: 10px;
      grid-template-areas: 
            ". title title title title ."
            ". menu  menu  menu  menu ."
            ". main  main  main  main ."
            ". news  blog  blog  blog ."
            ". .  blog  blog  blog ."
            ". foot  foot  foot  foot ."; 
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
}

/**********End XL************/







