html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

body {
	color: #333333;
  font-family: 'HK Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

/*font styles*/

h1, h2, h3 {
  font-family: 'HK Grotesk', sans-serif;
  padding: 0;
  margin: 0;
}

main h1 {
  font-weight: normal;
}

h1 {
  font-size: 1.2em;
}
h2 {
  color: ;
  font-size: 1em;
}
h3 {
  font-size: 0.9em;
  font-weight: normal;
  color: 0;
}

p {
  padding: 0;
  margin: 0;
}

/*nav styles*/

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* end nav styles*/

/* start scroll styles */


/* end scroll style */

header {
  background-color: rgb(255, 255, 255, 0.9);
  border-bottom: 1px #E8E8E8 solid;
}

main span{
  color: #8BB5B0;
}

article {
  background-color: #ECECEC;
}

footer {
  border-top: 1px #E8E8E8 solid;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer a {
  font-size: 0.8em; 
  color: inherit;
}
footer a:hover {
  text-decoration: none;
}