html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

/*************** font styles ***************/

body {
  color: #333333;
  font-family: 'HK Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'HK Grotesk', sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 1.2em;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
main h1 {
  font-weight: lighter;
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
p {
  font-size: 1.2em;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
.next p {
  font-size: 1em;
}
footer a {
  font-size: 1em; 
}
/*************** font styles ***************/

/*************** header styles ****************/

header {
  background-color: white;
  opacity: 0.9;
  visibility: visible;
  border-bottom: 1px #E8E8E8 solid;
}
header {
  top: 0;
  padding: 0.8em 1.25em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999999999;
}
header a {
  width: 25%;
  height: 25%;
}
img {
  display: block;
}
#logo {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*************** end header styles ****************/

/*************** menu styles ****************/

header span {
  color: #71C5CA;
  font-size: 22px;
  cursor: pointer;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 0; 
  height: 210px;
  position: fixed;
  z-index: 999999999999;
  top: 0;
  right: 0;
  background-color: #E8E8E8;
  overflow-x: hidden;
  transition: 0.3s;
}
.overlay-content {
  margin-top: 1em;
  margin-right: 1.25em;
}
.overlay a {
  padding: 0;
  text-align: right;
  text-decoration: none;
  font-size: 1.6em;
  color: #757C82;
  display: block;
  transition: 0.3s;
}
.overlay-content a {
  padding: 0.2em 0;
}
.overlay a:hover, .overlay a:focus {
  color: rgba(113,197,202,1);
}
.overlay .closebtn {
  color: rgba(113,197,202,1);
  margin-top: 5px;
  margin-right: 0.47em;
  font-size: 2.5em;
}
/*************** end menu styles ****************/

/*************** footer style ****************/
footer {
  border-top: 1px #E8E8E8 solid;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer p {
  font-size: 0.7em;
}
footer a {
  color: inherit;
}
footer a:hover {
  text-decoration: none;
}
footer img {
  opacity: 0.7;
}
/*************** footer layout ****************/
footer {
  padding: 2.5em 1.25em 1em 1.25em;
  display: flex;
  flex-direction: column;
}
footer div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer img {
  width: 20%;
  height: 20%;
  align-self: center;
}

footer p {
  align-self: center;
  margin-top: 20px;
}
/*************** end footer styles ****************/

/* TABLET */
@media only screen and (min-width: 560px){
  header {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  header a {
    width: 20%;
    height: 20%;
  }
  .overlay .closebtn {
  margin-top: 5px;
  }
}

@media only screen and (min-width: 610px){
  header a {
    width: 15%;
    height: 15%;
  }
  ul li {
    display: inline;
    margin-right: 10px;
  }
  footer img {
    width: 15%;
  }
}

@media only screen and (min-width: 700px){
  header a {
    width: 10%;
    height: 10%;
  }
  footer img {
    width: 10%;
  }
}
/* TABLET */


/* LAPTOP */
@media only screen and (min-width: 900px){
  header a {
  width: 10%;
  height: 10%;
  }
  .overlay .closebtn {
    margin-top: 2px;
  }
  footer {
    padding-right: 15%;
    padding-left: 15%;
  }
}

/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {
/* font styles */
  .overlay a {
    font-size: 1.2em;
  }
  h1 {
    font-size: 1.1em;
  }

  main h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
    line-height: 1.4;
  }
/* font styles */

/* layout */
  .overlay {
    height: 180px;
  }
  header a {
    width: 8%;
    height: 8%;
  }
  .more {
    padding-bottom: 4em;
  }
}

/************XL**************/
@media only screen and (min-width: 1200px) {

}


/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1024px) {

}

/*********End Large***********/
